<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<h3>
					<strong>{{questionSelected.title}}</strong>
				</h3>
				<div id="body-detail-description"></div>
				<p>
				<div style="margin-top: 8px;">
					<i class="aqt-tag" ng-repeat="tag in questionSelected.tags"> <span
						class="label label-primary">{{tag}}</span>
					</i>
				</div>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="selectedChosenQuestion()">QUERO RESPONDER ESTA PERGUNTA</button>
				<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeDetailQuestion()">Fechar</button>
			</div>
		</div>
	</div>
</div>