<footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3">
            	<h2>AQT</h2>
                <p>Descrição da ferrementa</p>
            </div>
        	<div class="col-md-4">
            	<div class="col-md-6">
            		LOGO UFCG
                </div>
            	<div class="col-md-6">
      				LOGO IFPB

                </div>
            </div>
        	<div class="col-md-2">
   				LOGO TIPS

            </div>
        	<div class="col-md-3">
        		LOGO ADS
            </div>
        </div>
    </footer>
