<div ng-include="'/view/fragments/option-edit.html'"></div>
<div ng-include="'/view/fragments/suggestion-edit.html'"></div>

<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">

				<div class="content-header">
					<h2>
						Configurações <small>Atualização de informação do app</small>
					</h2>
				</div>
				<form name="frmConfig" ng-submit="frmConfig.$valid && update()"
					role="form" novalidate>
					<div class="row">
						<div class="col-md-13">
							<div class="panel panel-primary">
								<div class="panel-heading">Tempo do cronometro para página
									de escolhas de perguntas (Segundos)</div>
								<div class="panel-body">

									<div class="form-group input-group"
										ng-class="{'has-error': frmConfig.$submitted && frmConfig.cronometro.$invalid}">
										<span class="input-group-addon"> <i
											class="fa fa-clock-o"></i></span> <input class="form-control"
											type="text" name='cronometro' ng-model="config.time"
											placeholder="Tempo em segundos" required />
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										Valores dos checkbox para perguntas VISUALIZADAS
										<div class="pull-right">
											<button class="btn  btn-default" type="button"
												data-toggle="modal" data-target="#optionModal"
												ng-click="openModal(null, false, true)">
												<i class="fa  fa-plus"></i>
											</button>
										</div>
									</div>
									<div class="panel-body">

										<div class="table-responsive">
											<table
												class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
												<thead>
													<tr>
														<th width="90%">Opções</th>
														<th width="10%">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="d in config.optionsQuestionsClicked">
														<td>{{d}}</td>
														<td class="acoes">

															<div class="btn-group">
																<button data-toggle="modal" data-target="#optionModal"
																	ng-click="openModal(d, true, true)" type="button"
																	class="btn  btn-default btn-xs">
																	<i class="fa  fa-pencil"></i>
																</button>

																<button class="btn  btn-default btn-xs" type="button"
																	ng-click="removeMotiveClicked(d)">
																	<i class="fa  fa-trash"></i>
																</button>
															</div>

														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										Valores dos checkbox para perguntas ESCOLHIDAS
										<div class="pull-right">
											<button class="btn  btn-default" type="button"
												data-toggle="modal" data-target="#optionModal"
												ng-click="openModal(null, false, false)">
												<i class="fa  fa-plus"></i>
											</button>
										</div>
									</div>
									<div class="panel-body">

										<div class="table-responsive">
											<table
												class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
												<thead>
													<tr>
														<th width="90%">Opções</th>
														<th width="10%">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="d in config.optionsQuestionsChosen">
														<td>{{d}}</td>
														<td class="table-pesq-produto-col-acoes">

															<div class="btn-group">
																<button data-toggle="modal" data-target="#optionModal"
																	ng-click="openModal(d, true, false)" type="button"
																	class="btn  btn-default btn-xs">
																	<i class="fa  fa-pencil"></i>
																</button>

																<button class="btn  btn-default btn-xs"
																	ng-click="removeMotiveChosen(d)">
																	<i class="fa  fa-trash"></i>
																</button>
															</div>

														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>

						<!-- Container das mensagens dos passos -->

						<div class="col-md-13">
							<div class="panel panel-primary">
								<div class="panel-heading">Valores que aparecerão nas
									páginas de Ajuda.</div>
								<div class="panel-body">

									<!-- WELCOME -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.welcomeH.$invalid}">
												<span class="input-group-addon"><i>H1</i></span> <input
													class="form-control" type="text" name='welcomeH'
													ng-model="config.steps.welcome.header"
													placeholder="header da primeira página" required />
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.welcomeP.$invalid}">
												<span class="input-group-addon"><i>P1</i></span>
												<textarea class="form-control" type="text" name='welcomeP'
													ng-model="config.steps.welcome.description"
													placeholder="Descrição da primeira página" required />
											</div>
										</div>
									</div>

									<!-- STEP 1 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.h2.$invalid}">
												<span class="input-group-addon"><i>H2</i></span> <input
													class="form-control" type="text" name='h2'
													ng-model="config.steps.step1.header"
													placeholder="header da segunda página" required />
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.p2.$invalid}">
												<span class="input-group-addon"><i>P2</i></span>
												<textarea class="form-control" type="text" name='p2'
													ng-model="config.steps.step1.description"
													placeholder="Descrição da segunda página" required />
											</div>
										</div>
									</div>

									<!-- STEP 2 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.h3.$invalid}">
												<span class="input-group-addon"><i>H3</i></span> <input
													class="form-control" type="text" name='h3'
													ng-model="config.steps.step2.header"
													placeholder="header da terceira página" required />
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.p3.$invalid}">
												<span class="input-group-addon"><i>P3</i></span>
												<textarea class="form-control" type="text" name='p3'
													ng-model="config.steps.step2.description"
													placeholder="Descrição da terceira página" required />
											</div>
										</div>
									</div>

									<!-- STEP 3 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.h4.$invalid}">
												<span class="input-group-addon"><i>H4</i></span> <input
													class="form-control" type="text" name='h4'
													ng-model="config.steps.step3.header"
													placeholder="header da quarta página" required />
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.p4.$invalid}">
												<span class="input-group-addon"><i>P4</i></span>
												<textarea class="form-control" type="text" name='p4'
													ng-model="config.steps.step3.description"
													placeholder="Descrição da quarta página" required />
											</div>
										</div>
									</div>


									<!-- END -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.h5.$invalid}">
												<span class="input-group-addon"><i>H5</i></span> <input
													class="form-control" type="text" name='h5'
													ng-model="config.steps.end.header"
													placeholder="header da útima página" required />
											</div>
										</div>

										<div class="col-md-8">
											<div class="form-group input-group"
												ng-class="{'has-error': frmConfig.$submitted && frmConfig.p5.$invalid}">
												<span class="input-group-addon"><i>P5</i></span>
												<textarea class="form-control" type="text" name='p5'
													ng-model="config.steps.end.description"
													placeholder="descrição para última página" required />
											</div>
										</div>
									</div>


								</div>
							</div>
						</div>

						<!-- Container das configurações das mensagens das sugestões -->
						<div ng-include="'/view/fragments/config-suggestions.html'"></div>

						<div class="well well-sm">
							<button class="btn  btn-primary" type="submit">Salvar</button>
							<a href="/#/adminUsers" class="btn  btn-default"> Cancelar </a>

							<div class="pull-right">
								<button class="btn btn-danger" ng-click="resetAllUsers()" type="button">LIMPAR
									BANCO DADOS</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
