<div class="container-fluid">
	<div class="row"></div>
	<div class="row">
		<div class="col-md-1"></div>
		<div class="content-header aqt-header">
			<h2 ng-if="(vm.question.questionType === 'CLICABLE')">
				Pergunta que você clicou, mas, optou por não responder 
				
			</h2>
			<h2 ng-if="(vm.question.questionType === 'CHOSEN')">
				Pergunta que você escolheu responder
			</h2>
		</div>
		<div class="col-md-7">
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<h2>{{vm.question.title}}</h2>
						<div id="body-detail-description"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-5">
			<form novalidate name="vm.frmOptions">

				<div ng-if="(vm.question.questionType === 'CLICABLE')"
					ng-include="'/view/fragments/form-clickable-questions.html'"></div>
				<div ng-if="(vm.question.questionType === 'CHOSEN')"
					ng-include="'/view/fragments/form-chosen-questions.html'"></div>
				<div class="well well-sm">
					<div class="row">
						<div class="col-md-3">
							<button type="reset" class="btn btn-primary"
								ng-show="!vm.disableBtnNext()" ng-click="vm.nextQuestion()">PRÓXIMA
								PERGUNTA</button>
							<button type="reset" class="btn btn-danger"
								ng-show="vm.disableBtnNext()" ng-click="vm.nextQuestion()">FINALIZAR</button>
						</div>
						<div class="col-md-9 aqt-progress">
							<div class="progress">
								<div class="progress-bar" role="progressbar" aria-valuenow="{{vm.progress}}"
									aria-valuemin="0" aria-valuemax="{{vm.chosenQuestions.length}}" style="width: {{(vm.progress/vm.chosenQuestions.length)*100}}%;">
									{{vm.progress}} / {{vm.chosenQuestions.length}}</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
