<div class="panel panel-default aqt-panel-logos">
	<div class="panel-body">
		<div class="row">
			<div class="col-md-12 acoes aqt-panel-space">
				
				<div class="col-md-2">
					<img width="150" src="img/ufcg.jpg">
				</div>
				
				<div class="col-md-2 aqt-logo">
					<img width="180" src="img/ufcg-comp.jpg">
				</div>
				
				<div class="col-md-2 aqt-logo">
					<img width="150"  src="img/lia.png">
				</div>
				
				<div class="col-md-2 aqt-logo">
					<img width="180" src="img/tips.png">
				</div>
				
				<div class="col-md-2">
					<img width="100" src="img/ifpb.png">
				</div>
				
				<div class="col-md-2">
					<img width="100" src="img/ifpb-ads.png">
				</div>
				
			</div>
		</div>
	</div>
</div>

<main>
<div class="acoes" style="margin-top: 30px;">
	<h1>{{config.steps.welcome.header}}</h1>
	
	<p>{{config.steps.welcome.description}}</p>
	
	<p>
		<a class="btn btn-danger aqt-btn-end-time" href="#/login"
			role="button">INICIAR</a>
	</p>
	
</div>
</main>