body {
	font-family: 'Abel', sans-serif;
	font-size: 19px;
	padding-top: 50px;
	background: #fdfdfd;
}

.jumbotron {
	width: 800px;
	text-align: center;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}

.aqt-jumbotron {
	width: 90%;
	height: 90% text-align: center;
	margin-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.aqt-jumbotron-q {
	width: 90%;
	background: white;
	height: 90% margin-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

.alert {
	padding-bottom: 5px !important;
	padding-top: 5px !important;
	margin: 2px;
}

.aqt-close {
	line-height: none !important;
	padding: 2 !important e;
	padding-top: 2px !important e;
}

.alert-success {
	color: #3c763d;
	background-color: #8dea66;
	border-color: #d6e9c6;
}

#loading-bar .bar {
	position: relative;
}

.aqt-position-loading {
	color: #ffffff;
	font-size: 14px;
}

.aqt-tag {
	font-size: 18px;
	font-style: none;
	padding: 2px;
}

.aqt-modal-dialog {
	margin-top: 100px;
	width: 80%;
}

.list-group {
	margin: 5px;
}

.modal-end-time {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.aqt-btn-end-time {
	margin: 30px;
	padding: 15px 40px;
	font-size: 22px;
}

.aqt-h1-end-time {
	font-size: 60px;
}

.footer-bs {
	background-color: #3c3d41;
	padding: 40px 20px;
	color: rgba(255, 255, 255, 1.00);
	margin-bottom: -10px;
	margin-top: 30px;
}

.breadcrumb {
	float: right;
	background: transparent;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 25px;
	padding: 7px 5px;
	position: absolute;
	top: 70px;
	right: 10px;
	border-radius: 2px;
}

.aqt-checkbox {
	font-size: 20px;
	margin-right: 15px;
}

.aqt-confirm {
	color: #469b2b;
	float: right;
}

.box-footer {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-top: 30px;
	border-top: 2px solid #f4f4f4 !important;
	padding: 7px;
	background-color: #ffffff;
}

.aqt-bttn-completter-list {
	font-size: 17px;
	padding: 4px;
}


.aqt-load-more {
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.aqt-load-more button {
	padding-left: 80px;
	padding-right: 80px;
	font-size: 22px;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 300px;
  max-width: 600px;
  padding: 40px;
}

.growl-container {
	margin-top: 50px !important;
}
.growl-container > .growl-item.ng-enter,
.growl-container > .growl-item.ng-leave {
  -webkit-transition:1s linear all;
  -moz-transition:1s linear all;
  -o-transition:1s linear all;
  transition:1s linear all;
}

.acoes{
	text-align: center;
}