<div ng-include="'/view/fragments/option-edit.html'"></div>
<div ng-include="'/view/fragments/suggestion-edit.html'"></div>

<div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="content-header">
					<h2>
						Configurações <small></small>
					</h2>
				</div>
				<form name="frmConfig" novalidate>
					<div class="row">
						<div class="col-md-13">
							<div class="panel panel-primary">
								<div class="panel-heading">Configurações do cronometro</div>
								<div class="panel-body">

									<div class="form-group input-group">
										<span class="input-group-addon"><i
											class="fa fa-clock-o"></i></span> <input class="form-control"
											type="text" name='cro' ng-model="config.time"
											placeholder="Tempo em segundos" required /> <span
											ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
											class="form-control alert alert-danger">Campo deve ser
											informado</span>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										Configurações de opções de motivos em visualizar a pergunta
										<div style="float: right">
											<button class="btn  btn-default" data-toggle="modal"
												data-target="#optionModal"
												ng-click="openModal(null, false, true)">
												<i class="fa  fa-plus"></i>
											</button>
										</div>
									</div>
									<div class="panel-body">

										<div class="table-responsive">
											<table
												class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
												<thead>
													<tr>
														<th width="90%">Opções</th>
														<th width="10%">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="d in config.optionsQuestionsClicked">
														<td>{{d}}</td>
														<td class="acoes">

															<div class="btn-group">
																<button data-toggle="modal" data-target="#optionModal"
																	ng-click="openModal(d, true, true)"
																	class="btn  btn-default btn-xs">
																	<i class="fa  fa-pencil"></i>
																</button>

																<button class="btn  btn-default btn-xs"
																	ng-click="removeMotiveClicked(d)">
																	<i class="fa  fa-trash"></i>
																</button>
															</div>

														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="panel panel-primary">
									<div class="panel-heading">
										Configurações de opções de motivos para responder a pergunta
										<div style="float: right">
											<button class="btn  btn-default" data-toggle="modal"
												data-target="#optionModal"
												ng-click="openModal(null, false, false)">
												<i class="fa  fa-plus"></i>
											</button>
										</div>
									</div>
									<div class="panel-body">

										<div class="table-responsive">
											<table
												class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
												<thead>
													<tr>
														<th width="90%">Opções</th>
														<th width="10%">Ações</th>
													</tr>
												</thead>
												<tbody>
													<tr ng-repeat="d in config.optionsQuestionsChosen">
														<td>{{d}}</td>
														<td class="table-pesq-produto-col-acoes">

															<div class="btn-group">
																<button data-toggle="modal" data-target="#optionModal"
																	ng-click="openModal(d, true, false)"
																	class="btn  btn-default btn-xs">
																	<i class="fa  fa-pencil"></i>
																</button>

																<button class="btn  btn-default btn-xs"
																	ng-click="removeMotiveChosen(d)">
																	<i class="fa  fa-trash"></i>
																</button>
															</div>

														</td>
													</tr>
												</tbody>
											</table>
										</div>

									</div>
								</div>
							</div>
						</div>


						<!-- Container das mensagens dos passos -->

						<div class="col-md-13">
							<div class="panel panel-primary">
								<div class="panel-heading">Configurações das Mensagens de
									passos</div>
								<div class="panel-body">

									<!-- STEP 1 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S1</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step1.head"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S1</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step1.description"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
									</div>

									<!-- STEP 2 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S2</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step2.head"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S2</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step2.description"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
									</div>

									<!-- STEP 3 -->
									<div class="row">
										<div class="col-md-4">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S3</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step3.head"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
										<div class="col-md-8">
											<div class="form-group input-group">
												<span class="input-group-addon"><i>S3</i></span> <input
													class="form-control" type="text" name='cro'
													ng-model="config.steps.step3.description"
													placeholder="Tempo em segundos" required /> <span
													ng-show="frmConfig.cro.$dirty && frmConfig.cro.$error.required"
													class="form-control alert alert-danger">Campo deve
													ser informado</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Container das configurações das mensagens das sugestões -->
						<div ng-include="'/view/fragments/config-suggestions.html'"></div>

						<div class="well well-sm">
							<button class="btn  btn-primary" type="button"
								ng-click="update()">Salvar</button>
							<button class="btn  btn-primary" type="button"
								ng-click="saveSuggestion()">TESTE</button>
							<a href="/#/adminUsers" class="btn  btn-default">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-1"></div>
		</div>
	</div>
</div>
