
<div class="container-fluid">
	<div class="page-header">
		<h1>
			Faça sua Pergunta <small>Qual sua pergunta de programação?</small>
		</h1>
	</div>

	<div class="row">
		<form name="form-question">
			<div class="col-sm-6">
				<div class="form-group">
					<input class="form-control" type="text" name="title" ng-model="question.title" placeholder="Título" />
				</div>
				<div class="form-group">
					<textarea id="editor-f" data-iconlibrary="fa" name="content" data-width="725" data-provide="markdown" rows="13" ng-model="question.description">
					</textarea>
				</div>
				<button id="btn-get-sug" class="btn  btn-primary" type="submit" ng-click="getSuggestions(question)">Obter Sugestões</button>
				<button id="btn-completter" class="btn  btn-danger" type="submit" disabled="true" ng-click="registerChosenSuggestions(question)">Finalizar</button>
			</div>
		</form>
		<div class="col-sm-6" ng-repeat = "sug in suggestions">
			<div class="alert  alert-danger  alert-dismissible aqt-close" role="alert">
				<button type="button" class="close btn-suggestion">
					<i class="fa fa-times" ng-click="checkedSuggestion(sug, false)" data-toggle="tooltip" title="Click aqui se esta sugestão NÃO foi importante para você" aria-hidden="true"></i>
				</button>
				<button type="button" class="close btn-suggestion">
					<i class="fa fa-check" ng-click="checkedSuggestion(sug, true)" data-toggle="tooltip" title="Click aqui se esta sugestão FOI importante para você" aria-hidden="true"></i>
				</button>
				{{sug}}
			</div>
		</div>
	</div>
</div>
<script src="/js/config/editor-config.js"></script>
