
<div class="container-fluid">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="content-header">
				<h2>
					Perguntas que você mostrou interesse <small>Indique os
						motivos pelo qual se interessou para cada uma das perguntas a
						seguir:</small>
				</h2>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div>
						<h2>{{question.title}}</h2>
						<div id="body-detail-description"></div>
					</div>
				</div>
			</div>
			<form novalidate name="vm.frmOptions">
				<div class="well">
					<button type="reset" class="btn btn-primary" ng-disabled="vm.disableBtnNext()" ng-click="vm.nextQuestion()">PRÓXIMA PERGUNTA</button>
				</div>
				<div>
					<div ng-include="'/view/fragments/form-clickable-questions.html'"></div>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
