<div class="panel panel-default">
	<div class="panel-heading">Indique os motivos que o levaram a visualizar esta pergunta.</div>
	<div class="panel-body">
		
			<div class="checkbox" ng-repeat="o in vm.optionsQuestionsClicked">
				<label class="checkbox"> <input type="checkbox"
					value="{{o}}"
					ng-checked="vm.checkedQuestionsClicked.indexOf(o) != -1"
					ng-click="vm.toggleCheck(o)"> {{o}}
				</label>

			</div>
			<div class="checkbox">

				<label class="checkbox"> <input type="checkbox"
					ng-checked="vm.other"
					ng-click="vm.other == false? vm.other = true:vm.other = false"> Outro
				</label> <textarea class="form-control" required ng-show="vm.other" name="option" ng-model="vm.otherText" placeholder="Descreva aqui" type="text" />
				<span ng-show="vm.other && vm.frmOptions.option.$touched && vm.frmOptions.option.$error.required" class="form-control alert alert-danger">Campo deve ser preenchido</span>
			</div>
	</div>
</div>