<div class="modal fade" data-backdrop="static" data-keyboard="false"
	id="modalInformativo" tabindex="-1" role="dialog">
	<div class="modal-dialog aqt-modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h3 class="modal-title">
					<strong>Importante!</strong>
				</h3>
			</div>
			<div class="modal-body">
				<div id="body-detail-description"></div>
				<p>
					<div style="margin-top: 8px;">Ao lado direito da sua tela contém sugestões de melhorias para sua pergunta.
Clique nas sugestões que você acha que são condizentes para a pergunta e altere a mesma de acordo com a(s) sugestão(ões) que você clicou (Caso julgue necessário).</div>
				</p>
				<p>
					<div style="margin-top: 8px;"><strong>Obs.: É necessário que você clique no botão "Reenviar Pergunta" 
					para que todas essas informações sejam salvas e você possa prosseguir com a pesquisa.</strong></div>
				</p>
								
			</div>
		</div>
	</div>
</div>