<div class="modal fade aqt-modal-dialog-info" data-backdrop="static" data-keyboard="false"
	id="modalInformativo2" tabindex="-1" role="dialog">
	<div class="modal-dialog aqt-modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h3 class="modal-title">
					<strong>{{config.steps.popup2.header}}</strong>
				</h3>
			</div>
			<div class="modal-body">
				<div id="body-detail-description"></div>
				<p>
					<div style="margin-top: 8px;">{{config.steps.popup2.description}}</div>
				</p>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-success" data-dismiss="modal">ENTENDI</button>
				</div>
								
			</div>
		</div>
	</div>
</div>