<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
       <ul class="nav navbar-right">
       	  <a class="navbar-brand" href="#/adminUsers" ng-show="disableBtnAdmin()"><i class="fa fa-database" aria-hidden="true"></i> Respostas</a>
	      <a class="navbar-brand" href="#/adminConfig" ng-show="disableBtnAdmin()"><i class="fa fa-sliders" aria-hidden="true"></i> Configurações</a>
	      <a class="navbar-brand" href="#/aqtAdmin" ng-show="disableBtnAdmin()" ng-click="logoutAdmin()"><i class="fa fa-sign-in" aria-hidden="true"></i> Sair</a>
      </ul>
      <ul class="nav navbar-right">
      	<li class="active"><a><i class="aqt-position-loading" id="loading-bar-container"></i></a></li>
      </ul>

    </div>
  </div>
</nav>